@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700&display=swap')

*
    font-family: 'Noto Sans', sans-serif
    margin: 0
    padding: 0

body
    background: #f5f5f5

.title
    font-size: 20rem
    text-align: center
    padding-bottom: 10rem
    border-bottom: 1rem solid #bbbbbb

    @media (max-width: 768px)
        font-size: 15rem

.container
    max-width: 1300rem
    width: 100%
    padding: 0 15rem
    margin-inline: auto

.window
    margin-top: 100rem
    border-radius: 7rem
    padding: 15rem 30rem
    background: white
    max-width: 350rem
    width: 100%
    margin-inline: auto
    box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(0, 0, 0, 0.00), 0px 8.148148536682129px 6.518518447875977px 0px rgba(0, 0, 0, 0.02), 0px 20px 13px 0px rgba(0, 0, 0, 0.02), 0px 38.51852035522461px 25.481481552124023px 0px rgba(0, 0, 0, 0.02), 0px 64.81481170654297px 46.85185241699219px 0px rgba(0, 0, 0, 0.03), 0px 100px 80px 0px rgba(0, 0, 0, 0.03)

    @media (max-width: 768px)
        width: 250rem
        padding: 5rem 10rem

.input_div
    margin-top: 25rem
    display: flex
    flex-direction: column
    gap: 17rem

label
    font-size: 17rem
    display: flex
    align-items: center
    justify-content: space-between
    gap: 13rem

    @media (max-width: 768px)
        font-size: 12rem

    input
        outline: none
        border: 1rem solid #cbcbcb
        padding: 4rem 10rem
        border-radius: 6rem
        transition: .1s
        width: 200rem

        &:hover
            border: 1rem solid #b7b7b7

        &:focus
            border: 1rem solid #92d251

        @media (max-width: 768px)
            width: 140rem

.btn
    border-radius: 5rem
    cursor: pointer
    width: 100%
    margin-top: 30rem
    padding: 5rem 0
    outline: none
    border: 1rem solid #92d251
    background: #ffffff
    font-size: 15rem
    font-family: 'Noto Sans', sans-serif
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.00), 0px 8px 6px 0px rgba(0, 0, 0, 0.03), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 20px 20px 0px rgba(0, 0, 0, 0.02), 0px 64.81481170654297px 46.85185241699219px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.03)
    transition: .2s

    @media (max-width: 768px)
        margin-bottom: 10rem
        font-size: 12rem

    &:hover
        border: 1rem solid #77b43b
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.00), 0px 8px 6px 0px rgba(0, 0, 0, 0.03), 0px 20px 13px 0px rgba(0, 0, 0, 0.02), 0px 20px 20px 0px rgba(0, 0, 0, 0.03), 0px 64.81481170654297px 46.85185241699219px 0px rgba(0, 0, 0, 0.04), 0px 100px 80px 0px rgba(0, 0, 0, 0.04)

.btns
    display: flex
    gap: 20rem
